<%
	let subtotal = 0, precioFinal = 0, descuento = 0;

	if (tipoViaje === "2") { 
		subtotal = precio * 1.80; 
	} else if (tipoViaje === "1") {
		subtotal = precio;
	}

	if (edad >= 60) {
		descuento = subtotal * 0.50;
	}

	const impuesto = (subtotal - descuento) * 0.16;
	precioFinal = subtotal - descuento + impuesto;
%>

<div class="w-full">
	<label for="subtotal" class="form__label">Subtotal</label>
	<input type="number" value="<%=subtotal%>" name="subtotal" id="subtotal" class="form__input" disabled>
</div>
<div class="w-full">
	<label for="impuesto" class="form__label">Impuesto</label>
	<input type="number" value="<%=impuesto%>" name="impuesto" id="impuesto" class="form__input" disabled>
</div>
<div class="w-full">
	<label for="descuento" class="form__label">Descuento</label>
	<input type="number" value="<%=descuento%>" name="descuento" id="descuento" class="form__input" disabled>
</div>
<div class="w-full">
	<label for="total" class="form__label">Total a pagar</label>
	<input type="number" value="<%=precioFinal%>" name="total" id="total" class="form__input" disabled>
</div>