<%- include('partials/header.html') %>
<main class="container__template bg-blue-300">
	<form class="container__form form__blue" action="/" method="post" id="form">
		<div class="w-full">
			<label for="numBoleto" class="form__label">Numero de boleto</label>
			<input type="number" value="<%=numBoleto%>" name="numBoleto" id="numBoleto" class="form__input" placeholder="Introduzca el numero" required>
		</div>
		<div class="w-full">
			<label for="destino" class="form__label">Destino</label>
			<input type="text" value="<%=destino%>" name="destino" id="destino" class="form__input" placeholder="Introduzca un destino" required>
		</div>
		<div class="w-full">
			<label for="cliente" class="form__label">Nombre del cliente</label>
			<input type="text" value="<%=cliente%>" name="cliente" id="cliente" class="form__input" placeholder="Introduzca un nombre" required>
		</div>
		<div class="w-full">
			<label for="edad" class="form__label">Edad</label>
			<input type="number" value="<%=edad%>" name="edad" id="edad" class="form__input" placeholder="Introduzca una edad" required>
		</div>
		<div class="w-full">
			<label for="tipoViaje" class="form__label">Tipo de Viaje</label>
			<select class="form__input" name="tipoViaje" id="tipoViaje" required>
				<option value="-1" <% if(!tipoViaje) { %> selected <% } %> disabled>Seleccione una opcion</option>
				<option value="1" <% if(tipoViaje === "1") { %> selected <% } %>>Sencillo</option>
				<option value="2" <% if(tipoViaje === "2") { %> selected <% } %>>Doble</option>
			</select>
		</div>
		<div class="w-full">
			<label for="precio" class="form__label">Precio</label>
			<input type="number" value="<%=precio%>" name="precio" id="precio" class="form__input" placeholder="Introduzca un precio" required>
		</div>
		<div class="form__buttons">
			<button type="reset" class="btn btn__danger">Limpiar</button>
			<button type="submit" class="btn btn__success">Calcular</button>
		</div>
		<% if (valid) { %>
		<%- include('./partials/calcular.html') %>
		<% } else if (valid === false) { %>
		<article class="alert">
			<p class="alert__message">Introduzca valores correctos</>
		</article>
		<% } %>
	</form>
</main>
<%- include('partials/footer.html') %>